USE [master]
GO
/****** Object:  Database [SII_DICRI]    Script Date: 21/11/2025 15:05:15 ******/
CREATE DATABASE [SII_DICRI]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'SII_DICRI', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SII_DICRI.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'SII_DICRI_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\SII_DICRI_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [SII_DICRI].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [SII_DICRI]
GO
/****** Object:  Table [dbo].[EstadosExpediente]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EstadosExpediente](
	[IdEstado] [int] IDENTITY(1,1) NOT NULL,
	[Codigo] [varchar](30) NOT NULL,
	[Descripcion] [varchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdEstado] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Expedientes]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Expedientes](
	[IdExpediente] [int] IDENTITY(1,1) NOT NULL,
	[NumeroExpediente] [varchar](50) NOT NULL,
	[Titulo] [varchar](200) NOT NULL,
	[IdFiscalia] [int] NULL,
	[Fiscalia] [varchar](150) NULL,
	[IdTipoCaso] [int] NULL,
	[TipoCaso] [varchar](100) NULL,
	[FechaHecho] [date] NULL,
	[IdEstadoActual] [int] NOT NULL,
	[FechaEstadoActual] [datetime2](7) NOT NULL,
	[IdCoordinadorRevision] [int] NULL,
	[JustificacionRechazo] [varchar](500) NULL,
	[CreadoPor] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ModificadoPor] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
	[EliminadoPor] [int] NULL,
	[FechaEliminacion] [datetime2](7) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdExpediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fiscalias]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fiscalias](
	[IdFiscalia] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdFiscalia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HistorialEstadosExpediente]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HistorialEstadosExpediente](
	[IdHistorial] [int] IDENTITY(1,1) NOT NULL,
	[IdExpediente] [int] NOT NULL,
	[IdEstado] [int] NOT NULL,
	[FechaCambio] [datetime2](7) NOT NULL,
	[IdUsuario] [int] NOT NULL,
	[Justificacion] [varchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdHistorial] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Indicios]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Indicios](
	[IdIndicio] [int] IDENTITY(1,1) NOT NULL,
	[IdExpediente] [int] NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Descripcion] [varchar](500) NULL,
	[Color] [varchar](50) NULL,
	[Tamano] [varchar](50) NULL,
	[Peso] [decimal](10, 2) NULL,
	[Ubicacion] [varchar](200) NULL,
	[CreadoPor] [int] NOT NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ModificadoPor] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
	[EliminadoPor] [int] NULL,
	[FechaEliminacion] [datetime2](7) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdIndicio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[IdRol] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Descripcion] [varchar](200) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TiposCaso]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TiposCaso](
	[IdTipoCaso] [int] IDENTITY(1,1) NOT NULL,
	[Nombre] [varchar](150) NOT NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTipoCaso] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UsuarioRol]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UsuarioRol](
	[IdUsuario] [int] NOT NULL,
	[IdRol] [int] NOT NULL,
	[CreadoPor] [int] NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ModificadoPor] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
	[EliminadoPor] [int] NULL,
	[FechaEliminacion] [datetime2](7) NULL,
	[Activo] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC,
	[IdRol] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Usuarios]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Usuarios](
	[IdUsuario] [int] IDENTITY(1,1) NOT NULL,
	[Usuario] [varchar](50) NOT NULL,
	[PrimerNombre] [varchar](50) NOT NULL,
	[SegundoNombre] [varchar](50) NULL,
	[PrimerApellido] [varchar](50) NOT NULL,
	[SegundoApellido] [varchar](50) NULL,
	[Email] [varchar](150) NULL,
	[Contrasena] [varchar](255) NOT NULL,
	[UltimoAcceso] [datetime2](7) NULL,
	[Activo] [bit] NOT NULL,
	[CreadoPor] [int] NULL,
	[FechaCreacion] [datetime2](7) NOT NULL,
	[ModificadoPor] [int] NULL,
	[FechaModificacion] [datetime2](7) NULL,
	[EliminadoPor] [int] NULL,
	[FechaEliminacion] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[EstadosExpediente] ON 

INSERT [dbo].[EstadosExpediente] ([IdEstado], [Codigo], [Descripcion], [Activo]) VALUES (1, N'BORRADOR', N'Expediente creado por técnico, aún editable', 1)
INSERT [dbo].[EstadosExpediente] ([IdEstado], [Codigo], [Descripcion], [Activo]) VALUES (2, N'REVISION', N'Expediente enviado a revisión por coordinador', 1)
INSERT [dbo].[EstadosExpediente] ([IdEstado], [Codigo], [Descripcion], [Activo]) VALUES (3, N'APROBADO', N'Expediente revisado y aprobado', 1)
SET IDENTITY_INSERT [dbo].[EstadosExpediente] OFF
GO
SET IDENTITY_INSERT [dbo].[Fiscalias] ON 

INSERT [dbo].[Fiscalias] ([IdFiscalia], [Nombre], [Activo]) VALUES (1, N'Fiscalía Metropolitana', 1)
INSERT [dbo].[Fiscalias] ([IdFiscalia], [Nombre], [Activo]) VALUES (2, N'Fiscalía de Delitos contra la Vida', 1)
INSERT [dbo].[Fiscalias] ([IdFiscalia], [Nombre], [Activo]) VALUES (3, N'Fiscalía de Delitos Patrimoniales', 1)
SET IDENTITY_INSERT [dbo].[Fiscalias] OFF
GO
SET IDENTITY_INSERT [dbo].[Roles] ON 

INSERT [dbo].[Roles] ([IdRol], [Nombre], [Descripcion], [Activo]) VALUES (1, N'TECNICO', N'Usuario técnico que registra expedientes e indicios', 1)
INSERT [dbo].[Roles] ([IdRol], [Nombre], [Descripcion], [Activo]) VALUES (2, N'COORDINADOR', N'Usuario coordinador que revisa y aprueba/rechaza', 1)
INSERT [dbo].[Roles] ([IdRol], [Nombre], [Descripcion], [Activo]) VALUES (3, N'ADMIN', N'Administrador del sistema', 1)
SET IDENTITY_INSERT [dbo].[Roles] OFF
GO
SET IDENTITY_INSERT [dbo].[TiposCaso] ON 

INSERT [dbo].[TiposCaso] ([IdTipoCaso], [Nombre], [Activo]) VALUES (1, N'Robo', 1)
INSERT [dbo].[TiposCaso] ([IdTipoCaso], [Nombre], [Activo]) VALUES (2, N'Homicidio', 1)
INSERT [dbo].[TiposCaso] ([IdTipoCaso], [Nombre], [Activo]) VALUES (3, N'Extorsión', 1)
SET IDENTITY_INSERT [dbo].[TiposCaso] OFF
GO
INSERT [dbo].[UsuarioRol] ([IdUsuario], [IdRol], [CreadoPor], [FechaCreacion], [ModificadoPor], [FechaModificacion], [EliminadoPor], [FechaEliminacion], [Activo]) VALUES (1, 3, 1, CAST(N'2025-11-20T23:12:16.9185508' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UsuarioRol] ([IdUsuario], [IdRol], [CreadoPor], [FechaCreacion], [ModificadoPor], [FechaModificacion], [EliminadoPor], [FechaEliminacion], [Activo]) VALUES (2, 1, 1, CAST(N'2025-11-20T23:12:16.9185508' AS DateTime2), NULL, NULL, NULL, NULL, 1)
INSERT [dbo].[UsuarioRol] ([IdUsuario], [IdRol], [CreadoPor], [FechaCreacion], [ModificadoPor], [FechaModificacion], [EliminadoPor], [FechaEliminacion], [Activo]) VALUES (3, 2, 1, CAST(N'2025-11-20T23:12:16.9185508' AS DateTime2), NULL, NULL, NULL, NULL, 1)
GO
SET IDENTITY_INSERT [dbo].[Usuarios] ON 

INSERT [dbo].[Usuarios] ([IdUsuario], [Usuario], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [Email], [Contrasena], [UltimoAcceso], [Activo], [CreadoPor], [FechaCreacion], [ModificadoPor], [FechaModificacion], [EliminadoPor], [FechaEliminacion]) VALUES (1, N'admin', N'Admin', NULL, N'Sistema', NULL, N'admin@sii.local', N'$2b$10$5TqHopDuoxdn46a0/ZOPVOpyc18QSFYsCDwsW/b9Y8iMtu9Pn5xlm', NULL, 1, NULL, CAST(N'2025-11-20T23:12:16.9165487' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [Usuario], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [Email], [Contrasena], [UltimoAcceso], [Activo], [CreadoPor], [FechaCreacion], [ModificadoPor], [FechaModificacion], [EliminadoPor], [FechaEliminacion]) VALUES (2, N'tecnico', N'Tecnico', NULL, N'Demo', NULL, N'tecnico@sii.local', N'$2b$10$5TqHopDuoxdn46a0/ZOPVOpyc18QSFYsCDwsW/b9Y8iMtu9Pn5xlm', NULL, 1, 1, CAST(N'2025-11-20T23:12:16.9185508' AS DateTime2), NULL, NULL, NULL, NULL)
INSERT [dbo].[Usuarios] ([IdUsuario], [Usuario], [PrimerNombre], [SegundoNombre], [PrimerApellido], [SegundoApellido], [Email], [Contrasena], [UltimoAcceso], [Activo], [CreadoPor], [FechaCreacion], [ModificadoPor], [FechaModificacion], [EliminadoPor], [FechaEliminacion]) VALUES (3, N'coordinador', N'Coordinador', NULL, N'Demo', NULL, N'coordinador@sii.local', N'$2b$10$5TqHopDuoxdn46a0/ZOPVOpyc18QSFYsCDwsW/b9Y8iMtu9Pn5xlm', NULL, 1, 1, CAST(N'2025-11-20T23:12:16.9185508' AS DateTime2), NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Usuarios] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__EstadosE__06370DAC2E9AD55E]    Script Date: 21/11/2025 15:05:15 ******/
ALTER TABLE [dbo].[EstadosExpediente] ADD UNIQUE NONCLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Expedien__88FEFA30F508CB1A]    Script Date: 21/11/2025 15:05:15 ******/
ALTER TABLE [dbo].[Expedientes] ADD UNIQUE NONCLUSTERED 
(
	[NumeroExpediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expedientes_EstadoActual]    Script Date: 21/11/2025 15:05:15 ******/
CREATE NONCLUSTERED INDEX [IX_Expedientes_EstadoActual] ON [dbo].[Expedientes]
(
	[IdEstadoActual] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Expedientes_FechaCreacion]    Script Date: 21/11/2025 15:05:15 ******/
CREATE NONCLUSTERED INDEX [IX_Expedientes_FechaCreacion] ON [dbo].[Expedientes]
(
	[FechaCreacion] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Fiscalia__75E3EFCF3AFDE7D3]    Script Date: 21/11/2025 15:05:15 ******/
ALTER TABLE [dbo].[Fiscalias] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Historial_Estado]    Script Date: 21/11/2025 15:05:15 ******/
CREATE NONCLUSTERED INDEX [IX_Historial_Estado] ON [dbo].[HistorialEstadosExpediente]
(
	[IdEstado] ASC,
	[FechaCambio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Historial_Expediente]    Script Date: 21/11/2025 15:05:15 ******/
CREATE NONCLUSTERED INDEX [IX_Historial_Expediente] ON [dbo].[HistorialEstadosExpediente]
(
	[IdExpediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Indicios_Expediente]    Script Date: 21/11/2025 15:05:15 ******/
CREATE NONCLUSTERED INDEX [IX_Indicios_Expediente] ON [dbo].[Indicios]
(
	[IdExpediente] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Roles__75E3EFCF87294898]    Script Date: 21/11/2025 15:05:15 ******/
ALTER TABLE [dbo].[Roles] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TiposCas__75E3EFCF236341E8]    Script Date: 21/11/2025 15:05:15 ******/
ALTER TABLE [dbo].[TiposCaso] ADD UNIQUE NONCLUSTERED 
(
	[Nombre] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Usuarios__E3237CF7AF577A10]    Script Date: 21/11/2025 15:05:15 ******/
ALTER TABLE [dbo].[Usuarios] ADD UNIQUE NONCLUSTERED 
(
	[Usuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[EstadosExpediente] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Expedientes] ADD  DEFAULT (sysutcdatetime()) FOR [FechaEstadoActual]
GO
ALTER TABLE [dbo].[Expedientes] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Expedientes] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Fiscalias] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCambio]
GO
ALTER TABLE [dbo].[Indicios] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Indicios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Roles] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[TiposCaso] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[UsuarioRol] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[UsuarioRol] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT ((1)) FOR [Activo]
GO
ALTER TABLE [dbo].[Usuarios] ADD  DEFAULT (sysutcdatetime()) FOR [FechaCreacion]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Expedientes_Coordinador] FOREIGN KEY([IdCoordinadorRevision])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_Expedientes_Coordinador]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Expedientes_CreadoPor] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_Expedientes_CreadoPor]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Expedientes_EliminadoPor] FOREIGN KEY([EliminadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_Expedientes_EliminadoPor]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Expedientes_EstadoActual] FOREIGN KEY([IdEstadoActual])
REFERENCES [dbo].[EstadosExpediente] ([IdEstado])
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_Expedientes_EstadoActual]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Expedientes_Fiscalias] FOREIGN KEY([IdFiscalia])
REFERENCES [dbo].[Fiscalias] ([IdFiscalia])
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_Expedientes_Fiscalias]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Expedientes_ModificadoPor] FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_Expedientes_ModificadoPor]
GO
ALTER TABLE [dbo].[Expedientes]  WITH CHECK ADD  CONSTRAINT [FK_Expedientes_TiposCaso] FOREIGN KEY([IdTipoCaso])
REFERENCES [dbo].[TiposCaso] ([IdTipoCaso])
GO
ALTER TABLE [dbo].[Expedientes] CHECK CONSTRAINT [FK_Expedientes_TiposCaso]
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Estado] FOREIGN KEY([IdEstado])
REFERENCES [dbo].[EstadosExpediente] ([IdEstado])
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente] CHECK CONSTRAINT [FK_Historial_Estado]
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Expediente] FOREIGN KEY([IdExpediente])
REFERENCES [dbo].[Expedientes] ([IdExpediente])
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente] CHECK CONSTRAINT [FK_Historial_Expediente]
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente]  WITH CHECK ADD  CONSTRAINT [FK_Historial_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[HistorialEstadosExpediente] CHECK CONSTRAINT [FK_Historial_Usuario]
GO
ALTER TABLE [dbo].[Indicios]  WITH CHECK ADD  CONSTRAINT [FK_Indicios_CreadoPor] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Indicios] CHECK CONSTRAINT [FK_Indicios_CreadoPor]
GO
ALTER TABLE [dbo].[Indicios]  WITH CHECK ADD  CONSTRAINT [FK_Indicios_EliminadoPor] FOREIGN KEY([EliminadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Indicios] CHECK CONSTRAINT [FK_Indicios_EliminadoPor]
GO
ALTER TABLE [dbo].[Indicios]  WITH CHECK ADD  CONSTRAINT [FK_Indicios_Expedientes] FOREIGN KEY([IdExpediente])
REFERENCES [dbo].[Expedientes] ([IdExpediente])
GO
ALTER TABLE [dbo].[Indicios] CHECK CONSTRAINT [FK_Indicios_Expedientes]
GO
ALTER TABLE [dbo].[Indicios]  WITH CHECK ADD  CONSTRAINT [FK_Indicios_ModificadoPor] FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Indicios] CHECK CONSTRAINT [FK_Indicios_ModificadoPor]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_CreadoPor] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_CreadoPor]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_EliminadoPor] FOREIGN KEY([EliminadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_EliminadoPor]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_ModificadoPor] FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_ModificadoPor]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Rol] FOREIGN KEY([IdRol])
REFERENCES [dbo].[Roles] ([IdRol])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Rol]
GO
ALTER TABLE [dbo].[UsuarioRol]  WITH CHECK ADD  CONSTRAINT [FK_UsuarioRol_Usuario] FOREIGN KEY([IdUsuario])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[UsuarioRol] CHECK CONSTRAINT [FK_UsuarioRol_Usuario]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_CreadoPor] FOREIGN KEY([CreadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_CreadoPor]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_EliminadoPor] FOREIGN KEY([EliminadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_EliminadoPor]
GO
ALTER TABLE [dbo].[Usuarios]  WITH CHECK ADD  CONSTRAINT [FK_Usuarios_ModificadoPor] FOREIGN KEY([ModificadoPor])
REFERENCES [dbo].[Usuarios] ([IdUsuario])
GO
ALTER TABLE [dbo].[Usuarios] CHECK CONSTRAINT [FK_Usuarios_ModificadoPor]
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_expediente]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_actualizar_expediente]
(
    @IdExpediente    INT,
    @Titulo          VARCHAR(200),
    @Fiscalia        VARCHAR(150) = NULL,
    @TipoCaso        VARCHAR(100) = NULL,
    @FechaHecho      DATE = NULL,
    @IdUsuarioAccion INT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdFiscalia INT = NULL;
    DECLARE @IdTipoCaso INT = NULL;

    -- Resolver Ids a partir de los nombres
    IF @Fiscalia IS NOT NULL
    BEGIN
        SELECT @IdFiscalia = f.IdFiscalia
        FROM Fiscalias f
        WHERE f.Nombre = @Fiscalia
          AND f.Activo = 1;
    END

    IF @TipoCaso IS NOT NULL
    BEGIN
        SELECT @IdTipoCaso = t.IdTipoCaso
        FROM TiposCaso t
        WHERE t.Nombre = @TipoCaso
          AND t.Activo = 1;
    END

    UPDATE Expedientes
    SET Titulo            = @Titulo,
        Fiscalia          = @Fiscalia,
        IdFiscalia        = @IdFiscalia,
        TipoCaso          = @TipoCaso,
        IdTipoCaso        = @IdTipoCaso,
        FechaHecho        = @FechaHecho,
        ModificadoPor     = @IdUsuarioAccion,
        FechaModificacion = SYSUTCDATETIME()
    WHERE IdExpediente = @IdExpediente
      AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_actualizar_indicio]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Actualizar indicio
CREATE   PROCEDURE [dbo].[sp_actualizar_indicio]
    @IdIndicio       INT,
    @Nombre          VARCHAR(150),
    @Descripcion     VARCHAR(500) = NULL,
    @Color           VARCHAR(50)  = NULL,
    @Tamano          VARCHAR(50)  = NULL,
    @Peso            DECIMAL(10,2) = NULL,
    @Ubicacion       VARCHAR(200) = NULL,
    @IdUsuarioAccion INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdExpediente INT;
    DECLARE @CodigoEstadoActual VARCHAR(30);

    SELECT @IdExpediente = IdExpediente
    FROM Indicios
    WHERE IdIndicio = @IdIndicio
      AND Activo = 1;

    IF @IdExpediente IS NULL
    BEGIN
        RAISERROR('Indicio no existe o está inactivo.',16,1);
        RETURN;
    END

    SELECT @CodigoEstadoActual = ee.Codigo
    FROM Expedientes e
    JOIN EstadosExpediente ee ON e.IdEstadoActual = ee.IdEstado
    WHERE e.IdExpediente = @IdExpediente
      AND e.Activo = 1;

    IF @CodigoEstadoActual NOT IN ('BORRADOR','RECHAZADO')
    BEGIN
        RAISERROR('Solo se pueden editar indicios de expedientes BORRADOR o RECHAZADO.',16,1);
        RETURN;
    END

    UPDATE Indicios
    SET Nombre            = @Nombre,
        Descripcion       = @Descripcion,
        Color             = @Color,
        Tamano            = @Tamano,
        Peso              = @Peso,
        Ubicacion         = @Ubicacion,
        ModificadoPor     = @IdUsuarioAccion,
        FechaModificacion = SYSUTCDATETIME()
    WHERE IdIndicio = @IdIndicio
      AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_cambiar_estado_expediente]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_cambiar_estado_expediente]
    @IdExpediente        INT,
    @NuevoEstadoCodigo   VARCHAR(30),
    @IdUsuarioAccion     INT,
    @Justificacion       VARCHAR(500) = NULL
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdEstadoActual INT;
    DECLARE @CodigoEstadoActual VARCHAR(30);
    DECLARE @IdEstadoNuevo INT;
    DECLARE @TransicionValida BIT = 0;

    -- Estado actual
    SELECT 
        @IdEstadoActual = e.IdEstadoActual,
        @CodigoEstadoActual = ee.Codigo
    FROM Expedientes e
    JOIN EstadosExpediente ee ON e.IdEstadoActual = ee.IdEstado
    WHERE e.IdExpediente = @IdExpediente
      AND e.Activo = 1;

    IF @CodigoEstadoActual IS NULL
    BEGIN
        RAISERROR('Expediente no existe o está inactivo.',16,1);
        RETURN;
    END

    -- Estado nuevo
    SELECT @IdEstadoNuevo = IdEstado
    FROM EstadosExpediente
    WHERE Codigo = @NuevoEstadoCodigo
      AND Activo = 1;

    IF @IdEstadoNuevo IS NULL
    BEGIN
        RAISERROR('Estado destino no válido.',16,1);
        RETURN;
    END

    ----------------------------------------------------------------
    -- Validar transiciones permitidas (sin ELSE IF)
    ----------------------------------------------------------------
    IF (@CodigoEstadoActual IN ('BORRADOR','RECHAZADO')
        AND @NuevoEstadoCodigo = 'REVISION')
    BEGIN
        SET @TransicionValida = 1;
    END

    IF (@CodigoEstadoActual = 'REVISION'
        AND @NuevoEstadoCodigo IN ('APROBADO','RECHAZADO'))
    BEGIN
        SET @TransicionValida = 1;
    END

    IF @TransicionValida = 0
    BEGIN
        RAISERROR('Transición de estado no permitida.',16,1);
        RETURN;
    END

    ----------------------------------------------------------------
    -- Justificación obligatoria si RECHAZADO
    ----------------------------------------------------------------
    IF @NuevoEstadoCodigo = 'RECHAZADO' 
       AND ( @Justificacion IS NULL OR LTRIM(RTRIM(@Justificacion)) = '' )
    BEGIN
        RAISERROR('La justificación es obligatoria al rechazar un expediente.',16,1);
        RETURN;
    END

    ----------------------------------------------------------------
    -- Actualizar expediente
    ----------------------------------------------------------------
    UPDATE Expedientes
    SET IdEstadoActual        = @IdEstadoNuevo,
        FechaEstadoActual     = SYSUTCDATETIME(),
        ModificadoPor         = @IdUsuarioAccion,
        FechaModificacion     = SYSUTCDATETIME(),
        IdCoordinadorRevision = CASE 
                                   WHEN @NuevoEstadoCodigo IN ('APROBADO','RECHAZADO') 
                                        THEN @IdUsuarioAccion 
                                   ELSE IdCoordinadorRevision
                                END,
        JustificacionRechazo  = CASE 
                                   WHEN @NuevoEstadoCodigo = 'RECHAZADO' 
                                        THEN @Justificacion 
                                   ELSE JustificacionRechazo
                                END
    WHERE IdExpediente = @IdExpediente
      AND Activo = 1;

    ----------------------------------------------------------------
    -- Registrar en historial
    ----------------------------------------------------------------
    INSERT INTO HistorialEstadosExpediente (
        IdExpediente,
        IdEstado,
        FechaCambio,
        IdUsuario,
        Justificacion
    )
    VALUES (
        @IdExpediente,
        @IdEstadoNuevo,
        SYSUTCDATETIME(),
        @IdUsuarioAccion,
        @Justificacion
    );
END
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_expediente]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_crear_expediente]
(
    @Titulo          VARCHAR(200),
    @Fiscalia        VARCHAR(150) = NULL,
    @TipoCaso        VARCHAR(100) = NULL,
    @FechaHecho      DATE = NULL,
    @IdUsuarioAccion INT,           -- usuario que crea
    @IdExpediente    INT OUTPUT,
    @NumeroGenerado  VARCHAR(50) OUTPUT
)
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdEstadoBorrador INT;
    DECLARE @Ano INT = YEAR(GETDATE());
    DECLARE @Correlativo INT;

    -- Nuevos: ids de catálogo
    DECLARE @IdFiscalia INT = NULL;
    DECLARE @IdTipoCaso INT = NULL;

    ---------------------------------------------------
    -- 1. Obtener estado BORRADOR
    ---------------------------------------------------
    SELECT @IdEstadoBorrador = IdEstado
    FROM EstadosExpediente
    WHERE Codigo = 'BORRADOR'
      AND Activo = 1;

    IF @IdEstadoBorrador IS NULL
    BEGIN
        RAISERROR('No existe estado BORRADOR en EstadosExpediente.', 16, 1);
        RETURN;
    END

    ---------------------------------------------------
    -- 2. Resolver IdFiscalia / IdTipoCaso a partir del nombre
    ---------------------------------------------------
    IF @Fiscalia IS NOT NULL
    BEGIN
        SELECT @IdFiscalia = f.IdFiscalia
        FROM Fiscalias f
        WHERE f.Nombre = @Fiscalia
          AND f.Activo = 1;
    END

    IF @TipoCaso IS NOT NULL
    BEGIN
        SELECT @IdTipoCaso = t.IdTipoCaso
        FROM TiposCaso t
        WHERE t.Nombre = @TipoCaso
          AND t.Activo = 1;
    END

    -- Si quieres obligar a que existan, descomenta estas validaciones:
    /*
    IF @Fiscalia IS NOT NULL AND @IdFiscalia IS NULL
    BEGIN
        RAISERROR('La fiscalía indicada no existe o está inactiva.', 16, 1);
        RETURN;
    END

    IF @TipoCaso IS NOT NULL AND @IdTipoCaso IS NULL
    BEGIN
        RAISERROR('El tipo de caso indicado no existe o está inactivo.', 16, 1);
        RETURN;
    END
    */

    ---------------------------------------------------
    -- 3. Generar correlativo DICRI-AÑO-0001
    ---------------------------------------------------
    SELECT 
        @Correlativo = ISNULL(MAX(CAST(RIGHT(NumeroExpediente, 4) AS INT)), 0) + 1
    FROM Expedientes
    WHERE NumeroExpediente LIKE 'DICRI-' + CAST(@Ano AS VARCHAR(4)) + '%';

    SET @NumeroGenerado = 'DICRI-' + CAST(@Ano AS VARCHAR(4)) + '-' +
                          RIGHT('0000' + CAST(@Correlativo AS VARCHAR(4)), 4);

    ---------------------------------------------------
    -- 4. Insertar expediente (incluyendo IdFiscalia / IdTipoCaso)
    ---------------------------------------------------
    INSERT INTO Expedientes
    (
        NumeroExpediente,
        Titulo,
        IdFiscalia,
        Fiscalia,
        IdTipoCaso,
        TipoCaso,
        FechaHecho,
        IdEstadoActual,
        FechaEstadoActual,
        CreadoPor,
        FechaCreacion,
        Activo
    )
    VALUES
    (
        @NumeroGenerado,
        @Titulo,
        @IdFiscalia,
        @Fiscalia,
        @IdTipoCaso,
        @TipoCaso,
        @FechaHecho,
        @IdEstadoBorrador,
        SYSUTCDATETIME(),
        @IdUsuarioAccion,
        SYSUTCDATETIME(),
        1
    );

    SET @IdExpediente = SCOPE_IDENTITY();

    ---------------------------------------------------
    -- 5. Insertar historial de estado inicial
    ---------------------------------------------------
    INSERT INTO HistorialEstadosExpediente
    (
        IdExpediente,
        IdEstado,
        FechaCambio,
        IdUsuario,
        Justificacion
    )
    VALUES
    (
        @IdExpediente,
        @IdEstadoBorrador,
        SYSUTCDATETIME(),
        @IdUsuarioAccion,
        NULL
    );

    ---------------------------------------------------
    -- 6. Retornar valores
    ---------------------------------------------------
    SELECT @IdExpediente AS IdExpediente,
           @NumeroGenerado AS NumeroExpediente;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_crear_indicio]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO



-------------------------------------------------
-- 4.6 INDICIOS
-------------------------------------------------

-- Crear indicio
CREATE   PROCEDURE [dbo].[sp_crear_indicio]
    @IdExpediente    INT,
    @Nombre          VARCHAR(150),
    @Descripcion     VARCHAR(500) = NULL,
    @Color           VARCHAR(50)  = NULL,
    @Tamano          VARCHAR(50)  = NULL,
    @Peso            DECIMAL(10,2) = NULL,
    @Ubicacion       VARCHAR(200) = NULL,
    @IdUsuarioAccion INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CodigoEstadoActual VARCHAR(30);

    SELECT @CodigoEstadoActual = ee.Codigo
    FROM Expedientes e
    JOIN EstadosExpediente ee ON e.IdEstadoActual = ee.IdEstado
    WHERE e.IdExpediente = @IdExpediente
      AND e.Activo = 1;

    IF @CodigoEstadoActual IS NULL
    BEGIN
        RAISERROR('Expediente no existe o está inactivo.',16,1);
        RETURN;
    END

    IF @CodigoEstadoActual NOT IN ('BORRADOR','RECHAZADO')
    BEGIN
        RAISERROR('Solo se pueden agregar indicios a expedientes BORRADOR o RECHAZADO.',16,1);
        RETURN;
    END

    INSERT INTO Indicios (
        IdExpediente,
        Nombre,
        Descripcion,
        Color,
        Tamano,
        Peso,
        Ubicacion,
        CreadoPor,
        FechaCreacion,
        Activo
    )
    VALUES (
        @IdExpediente,
        @Nombre,
        @Descripcion,
        @Color,
        @Tamano,
        @Peso,
        @Ubicacion,
        @IdUsuarioAccion,
        SYSUTCDATETIME(),
        1
    );

    SELECT SCOPE_IDENTITY() AS IdIndicio;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_expediente]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- Eliminar expediente (lógico)
CREATE   PROCEDURE [dbo].[sp_eliminar_expediente]
    @IdExpediente    INT,
    @IdUsuarioAccion INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @CodigoEstadoActual VARCHAR(30);

    SELECT @CodigoEstadoActual = ee.Codigo
    FROM Expedientes e
    JOIN EstadosExpediente ee ON e.IdEstadoActual = ee.IdEstado
    WHERE e.IdExpediente = @IdExpediente
      AND e.Activo = 1;

    IF @CodigoEstadoActual IS NULL
    BEGIN
        RAISERROR('Expediente no existe o está inactivo.',16,1);
        RETURN;
    END

    IF @CodigoEstadoActual = 'APROBADO'
    BEGIN
        RAISERROR('No se puede eliminar un expediente APROBADO.',16,1);
        RETURN;
    END

    UPDATE Expedientes
    SET Activo           = 0,
        EliminadoPor     = @IdUsuarioAccion,
        FechaEliminacion = SYSUTCDATETIME()
    WHERE IdExpediente = @IdExpediente
      AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_eliminar_indicio]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Eliminar indicio (lógico)
CREATE   PROCEDURE [dbo].[sp_eliminar_indicio]
    @IdIndicio       INT,
    @IdUsuarioAccion INT
AS
BEGIN
    SET NOCOUNT ON;

    DECLARE @IdExpediente INT;
    DECLARE @CodigoEstadoActual VARCHAR(30);

    SELECT @IdExpediente = IdExpediente
    FROM Indicios
    WHERE IdIndicio = @IdIndicio
      AND Activo = 1;

    IF @IdExpediente IS NULL
    BEGIN
        RAISERROR('Indicio no existe o está inactivo.',16,1);
        RETURN;
    END

    SELECT @CodigoEstadoActual = ee.Codigo
    FROM Expedientes e
    JOIN EstadosExpediente ee ON e.IdEstadoActual = ee.IdEstado
    WHERE e.IdExpediente = @IdExpediente
      AND e.Activo = 1;

    IF @CodigoEstadoActual NOT IN ('BORRADOR','RECHAZADO')
    BEGIN
        RAISERROR('Solo se pueden eliminar indicios de expedientes BORRADOR o RECHAZADO.',16,1);
        RETURN;
    END

    UPDATE Indicios
    SET Activo           = 0,
        EliminadoPor     = @IdUsuarioAccion,
        FechaEliminacion = SYSUTCDATETIME()
    WHERE IdIndicio = @IdIndicio
      AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_fiscalias_listar]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_fiscalias_listar]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT IdFiscalia, Nombre
  FROM dbo.Fiscalias
  WHERE Activo = 1
  ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_fiscalias_obtener_por_id]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Devuelve una fiscalía activa por Id
CREATE   PROCEDURE [dbo].[sp_fiscalias_obtener_por_id]
    @IdFiscalia INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        IdFiscalia,
        Nombre
    FROM Fiscalias
    WHERE IdFiscalia = @IdFiscalia
      AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_listar_expedientes]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_listar_expedientes]
    @EstadoCodigo   VARCHAR(30) = NULL,
    @FechaInicio    DATE = NULL,
    @FechaFin       DATE = NULL
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        e.IdExpediente,
        e.NumeroExpediente,
        e.Titulo,
        e.IdFiscalia,
        e.Fiscalia,
        e.IdTipoCaso,
        e.TipoCaso,
        e.FechaHecho,
        e.FechaCreacion,
        ee.Codigo      AS EstadoCodigo,
        ee.Descripcion AS EstadoDescripcion
    FROM Expedientes e
    JOIN EstadosExpediente ee ON e.IdEstadoActual = ee.IdEstado
    WHERE e.Activo = 1
      AND ( @EstadoCodigo IS NULL OR ee.Codigo = @EstadoCodigo )
      AND ( @FechaInicio IS NULL OR CONVERT(DATE, e.FechaCreacion) >= @FechaInicio )
      AND ( @FechaFin   IS NULL OR CONVERT(DATE, e.FechaCreacion) <= @FechaFin )
    ORDER BY e.FechaCreacion DESC;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_obtener_expediente_detalle]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Obtener expediente + indicios (2 resultsets)
CREATE   PROCEDURE [dbo].[sp_obtener_expediente_detalle]
    @IdExpediente INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT 
        e.*,
        ee.Codigo        AS EstadoCodigo,
        ee.Descripcion   AS EstadoDescripcion
    FROM Expedientes e
    JOIN EstadosExpediente ee ON e.IdEstadoActual = ee.IdEstado
    WHERE e.IdExpediente = @IdExpediente
      AND e.Activo = 1;

    SELECT i.*
    FROM Indicios i
    WHERE i.IdExpediente = @IdExpediente
      AND i.Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_roles_listar]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


CREATE   PROCEDURE [dbo].[sp_roles_listar]
    @SoloActivos BIT = 1
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Roles
    WHERE (@SoloActivos = 0 OR Activo = 1)
    ORDER BY Nombre;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_tipos_caso_listar]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_tipos_caso_listar]
AS
BEGIN
  SET NOCOUNT ON;
  SELECT IdTipoCaso, Nombre
  FROM dbo.TiposCaso
  WHERE Activo = 1
  ORDER BY Nombre;
END
GO
/****** Object:  StoredProcedure [dbo].[sp_tipos_caso_obtener_por_id]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Devuelve un tipo de caso activo por Id
CREATE   PROCEDURE [dbo].[sp_tipos_caso_obtener_por_id]
    @IdTipoCaso INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT TOP 1
        IdTipoCaso,
        Nombre
    FROM TiposCaso
    WHERE IdTipoCaso = @IdTipoCaso
      AND Activo = 1;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuariorol_asignar]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_usuariorol_asignar]
    @IdUsuario       INT,
    @IdRol           INT,
    @IdUsuarioAccion INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1) Validaciones básicas
    IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdUsuario)
    BEGIN
        RAISERROR('Usuario no existe.', 16, 1);
        RETURN;
    END;

    IF NOT EXISTS (SELECT 1 FROM Roles WHERE IdRol = @IdRol AND Activo = 1)
    BEGIN
        RAISERROR('Rol no existe o está inactivo.', 16, 1);
        RETURN;
    END;

    -- 2) Desactivar otros roles activos de ese usuario (solo quedará el que mandamos)
    UPDATE UsuarioRol
    SET Activo            = 0,
        ModificadoPor     = @IdUsuarioAccion,
        FechaModificacion = SYSUTCDATETIME()
    WHERE IdUsuario = @IdUsuario
      AND IdRol     <> @IdRol
      AND Activo    = 1;

    -- 3) Si ya existe el registro (IdUsuario, IdRol), lo reactivamos
    IF EXISTS (SELECT 1
               FROM UsuarioRol
               WHERE IdUsuario = @IdUsuario
                 AND IdRol     = @IdRol)
    BEGIN
        UPDATE UsuarioRol
        SET Activo            = 1,
            ModificadoPor     = @IdUsuarioAccion,
            FechaModificacion = SYSUTCDATETIME()
        WHERE IdUsuario = @IdUsuario
          AND IdRol     = @IdRol;
    END
    ELSE
    BEGIN
        -- 4) Si no existe, lo insertamos
        INSERT INTO UsuarioRol (
            IdUsuario,
            IdRol,
            CreadoPor,
            FechaCreacion,
            Activo
        )
        VALUES (
            @IdUsuario,
            @IdRol,
            @IdUsuarioAccion,
            SYSUTCDATETIME(),
            1
        );
    END
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuariorol_eliminar_por_usuario]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   PROCEDURE [dbo].[sp_usuariorol_eliminar_por_usuario]
    @IdUsuario       INT,
    @IdUsuarioAccion INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    -- Validar que el usuario exista
    IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdUsuario)
    BEGIN
        RAISERROR('Usuario no existe.', 16, 1);
        RETURN;
    END;

    -- Si el usuario que hace la acción no existe, usar el mismo IdUsuario
    IF @IdUsuarioAccion IS NULL
       OR NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdUsuarioAccion)
    BEGIN
        SET @IdUsuarioAccion = @IdUsuario;
    END;

    -- Desactivar todos los roles activos del usuario
    UPDATE UsuarioRol
    SET Activo            = 0,
        ModificadoPor     = @IdUsuarioAccion,
        FechaModificacion = SYSUTCDATETIME()
    WHERE IdUsuario = @IdUsuario
      AND Activo    = 1;

    -- Opcional: devolver cuántos roles se desactivaron
    SELECT @@ROWCOUNT AS RolesDesactivados;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuariorol_listar_por_usuario]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE   PROCEDURE [dbo].[sp_usuariorol_listar_por_usuario]
    @IdUsuario INT
AS
BEGIN
    SET NOCOUNT ON;

    SELECT ur.IdRol, r.Nombre, r.Descripcion, ur.Activo
    FROM UsuarioRol ur
    JOIN Roles r ON ur.IdRol = r.IdRol
    WHERE ur.IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuariorol_reemplazar]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_usuariorol_reemplazar]
    @IdUsuario       INT,
    @IdRolNuevo      INT,
    @IdUsuarioAccion INT
AS
BEGIN
    SET NOCOUNT ON;

    -- Desactivar cualquier otro rol activo distinto al nuevo
    UPDATE UsuarioRol
    SET Activo = 0,
        ModificadoPor = @IdUsuarioAccion,
        FechaModificacion = SYSUTCDATETIME()
    WHERE IdUsuario = @IdUsuario
      AND IdRol    <> @IdRolNuevo
      AND Activo    = 1;

    -- Si ya existe el vínculo con ese rol, solo activar/actualizar
    IF EXISTS (SELECT 1
               FROM UsuarioRol
               WHERE IdUsuario = @IdUsuario AND IdRol = @IdRolNuevo)
    BEGIN
        UPDATE UsuarioRol
        SET Activo = 1,
            ModificadoPor = @IdUsuarioAccion,
            FechaModificacion = SYSUTCDATETIME()
        WHERE IdUsuario = @IdUsuario AND IdRol = @IdRolNuevo;
    END
    ELSE
    BEGIN
        INSERT INTO UsuarioRol (
            IdUsuario, IdRol, Activo, FechaCreacion, CreadoPor
        ) VALUES (
            @IdUsuario, @IdRolNuevo, 1, SYSUTCDATETIME(), @IdUsuarioAccion
        );
    END
END
GO
/****** Object:  StoredProcedure [dbo].[sp_usuarios_actualizar]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_usuarios_actualizar]
    @IdUsuario       INT,
    @PrimerNombre    VARCHAR(50),
    @SegundoNombre   VARCHAR(50) = NULL,
    @PrimerApellido  VARCHAR(50),
    @SegundoApellido VARCHAR(50) = NULL,
    @Email           VARCHAR(150) = NULL,
    @Contrasena      VARCHAR(255) = NULL,   -- NULL o '' = no cambiar
    @Activo          BIT,
    @IdUsuarioAccion INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1) Validar que el usuario que se edita exista
    IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdUsuario)
    BEGIN
        RAISERROR('Usuario no existe.', 16, 1);
        RETURN;
    END;

    -- 2) Si el usuario que hace la acción no existe, usar el mismo IdUsuario
    IF @IdUsuarioAccion IS NULL
       OR NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdUsuarioAccion)
    BEGIN
        SET @IdUsuarioAccion = @IdUsuario;
    END;

    -- 3) Actualizar
    UPDATE Usuarios
    SET PrimerNombre     = @PrimerNombre,
        SegundoNombre    = @SegundoNombre,
        PrimerApellido   = @PrimerApellido,
        SegundoApellido  = @SegundoApellido,
        Email            = @Email,
        Contrasena       = CASE 
                               WHEN @Contrasena IS NULL OR @Contrasena = '' 
                                    THEN Contrasena
                               ELSE @Contrasena
                           END,
        Activo           = @Activo,
        ModificadoPor    = @IdUsuarioAccion,
        FechaModificacion = SYSUTCDATETIME()
    WHERE IdUsuario = @IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuarios_actualizarRol]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE PROCEDURE [dbo].[sp_usuarios_actualizarRol]
    @IdUsuario       INT,
    @IdRolNuevo      INT,
    @IdUsuarioAccion INT
AS
BEGIN
    SET NOCOUNT ON;

    -- 1) Validar usuario
    IF NOT EXISTS (SELECT 1 FROM Usuarios WHERE IdUsuario = @IdUsuario)
    BEGIN
        RAISERROR('Usuario no existe.', 16, 1);
        RETURN;
    END;

    -- 2) Validar rol
    IF NOT EXISTS (SELECT 1 FROM Roles WHERE IdRol = @IdRolNuevo AND Activo = 1)
    BEGIN
        RAISERROR('Rol no existe o está inactivo.', 16, 1);
        RETURN;
    END;

    -- 3) Desactivar roles actuales
    UPDATE UsuarioRol
    SET Activo = 0,
        EliminadoPor = @IdUsuarioAccion,
        FechaEliminacion = SYSUTCDATETIME()
    WHERE IdUsuario = @IdUsuario AND Activo = 1;

    -- 4) Reactivar si ya existe
    IF EXISTS (SELECT 1 
               FROM UsuarioRol 
               WHERE IdUsuario = @IdUsuario AND IdRol = @IdRolNuevo)
    BEGIN
        UPDATE UsuarioRol
        SET Activo = 1,
            ModificadoPor = @IdUsuarioAccion,
            FechaModificacion = SYSUTCDATETIME(),
            EliminadoPor = NULL,
            FechaEliminacion = NULL
        WHERE IdUsuario = @IdUsuario AND IdRol = @IdRolNuevo;

        RETURN;
    END;

    -- 5) Insertar nuevo rol
    INSERT INTO UsuarioRol (
        IdUsuario,
        IdRol,
        CreadoPor,
        FechaCreacion,
        Activo
    )
    VALUES (
        @IdUsuario,
        @IdRolNuevo,
        @IdUsuarioAccion,
        SYSUTCDATETIME(),
        1
    );
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuarios_crear]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
/* =========================================================
   4. STORED PROCEDURES
   ========================================================= */

-------------------------------------------------
-- 4.1 USUARIOS
-------------------------------------------------

-- Crear usuario
CREATE   PROCEDURE [dbo].[sp_usuarios_crear]
    @Usuario        VARCHAR(50),
    @PrimerNombre   VARCHAR(50),
    @SegundoNombre  VARCHAR(50) = NULL,
    @PrimerApellido VARCHAR(50),
    @SegundoApellido VARCHAR(50) = NULL,
    @Email          VARCHAR(150) = NULL,
    @Contrasena     VARCHAR(255),
    @IdUsuarioAccion INT = NULL
AS
BEGIN
    SET NOCOUNT ON;

    IF EXISTS (SELECT 1 FROM Usuarios WHERE Usuario = @Usuario AND Activo = 1)
    BEGIN
        RAISERROR('Ya existe un usuario activo con ese nombre de usuario.',16,1);
        RETURN;
    END

    INSERT INTO Usuarios(
        Usuario,
        PrimerNombre,
        SegundoNombre,
        PrimerApellido,
        SegundoApellido,
        Email,
        Contrasena,
        CreadoPor,
        FechaCreacion,
        Activo
    )
    VALUES(
        @Usuario,
        @PrimerNombre,
        @SegundoNombre,
        @PrimerApellido,
        @SegundoApellido,
        @Email,
        @Contrasena,
        @IdUsuarioAccion,
        SYSUTCDATETIME(),
        1
    );

    SELECT SCOPE_IDENTITY() AS IdUsuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuarios_listar]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[sp_usuarios_listar]
    @Search      VARCHAR(200) = NULL,   -- texto de búsqueda (usuario, nombre, email)
    @SoloActivos BIT = NULL            -- 1 = solo activos, 0 = solo inactivos, NULL = todos
AS
BEGIN
    SET NOCOUNT ON;

    SELECT
        u.IdUsuario,
        u.Usuario,
        u.PrimerNombre,
        u.SegundoNombre,
        u.PrimerApellido,
        u.SegundoApellido,
        u.Email,
        u.Activo,
        IdRolPrincipal = MAX(ur.IdRol),
        Roles = STRING_AGG(r.Nombre, ', ')
    FROM Usuarios u
    LEFT JOIN UsuarioRol ur
        ON ur.IdUsuario = u.IdUsuario
       AND ur.Activo   = 1
    LEFT JOIN Roles r
        ON r.IdRol     = ur.IdRol
       AND r.Activo    = 1
    WHERE
        (@SoloActivos IS NULL OR u.Activo = @SoloActivos)
        AND (
            @Search IS NULL
            OR u.Usuario        LIKE '%' + @Search + '%'
            OR u.PrimerNombre   LIKE '%' + @Search + '%'
            OR u.PrimerApellido LIKE '%' + @Search + '%'
            OR u.Email          LIKE '%' + @Search + '%'
        )
    GROUP BY
        u.IdUsuario,
        u.Usuario,
        u.PrimerNombre,
        u.SegundoNombre,
        u.PrimerApellido,
        u.SegundoApellido,
        u.Email,
        u.Activo
    ORDER BY
        u.Usuario;
END;
GO
/****** Object:  StoredProcedure [dbo].[sp_usuarios_obtener_por_usuario]    Script Date: 21/11/2025 15:05:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


-- Obtener usuario por nombre de usuario (para login)
CREATE   PROCEDURE [dbo].[sp_usuarios_obtener_por_usuario]
    @Usuario VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;

    SELECT *
    FROM Usuarios
    WHERE Usuario = @Usuario AND Activo = 1;
END;
GO
USE [master]
GO
